/*  your css code here. If applicable */
.book-library{
	background-color:#ffffff;
}
.book-library h1{
	text-align:center;
}
.book{
	text-align:center;
	
}
.book h2{
	/* justify-content:start; */
	text-align:left;
	margin-bottom:0px;
	
}
#au{
	text-align:left;
	margin-top:0px;
	color:#777777;
}
#but{
	width:100%;
	background-color:#2ecc71;
	margin-bottom:15px;
	border-radius:5px;
}
body{
	background-color:#f8f8f8;
}